.my-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.my-add-new-project-button {
  margin-bottom: 12px;
}

.my-action-button {
  margin: 0px 5px;
}
